app-gold{
    display: inline-block;
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

app-actions, app-history{
    margin-top: 10px;
    border: 1px solid black;
    display: inline-block;
    width: 95vw;
    height: 30vh;
}