.col{
    margin-top: 10px;
    display: inline-block;
    width: 20vw;
    margin-left: 3.7vw;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;

    form{
        text-align: center;
        margin-top: 20px;
        height: 150px;
    }

    
}